aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
click
colorama
cryptocode
discord
discord-webhook
discord.py
docopt
easygui
et-xmlfile
fake-useragent
Flask
Flask-Login
Flask-SQLAlchemy
frozenlist
greenlet
gunicorn
heroku
idna
itsdangerous
Jinja2
Js2Py
MarkupSafe
MouseInfo
multidict
numpy
openpyxl
packaging
pandas
pipwin
PyAutoGUI
pycryptodomex
PyGetWindow
pyjsparser
PyMsgBox
pynput
pyperclip
PyPrind
PyRect
PyScreeze
pySmartDL
PySocks
python-dateutil
pytweening
pytz
pytz-deprecation-shim
requests
requests-futures
six
soupsieve
sql
SQLAlchemy
stem
torrequest
typing_extensions
tzdata
tzlocal
urllib3
Werkzeug
yarl